<header class="bg-gray-800 text-white p-4 flex justify-between items-center">
  <h1 class="text-2xl">{{ heading }}</h1>
  <div class="flex items-center">
    <!-- Cart Icon -->
    <a href="#" class="mr-6">
      <span class="material-icons"> shopping_cart </span>
    </a>

    <!-- Profile Dropdown -->
    <div data-testid="profile-dropdown" class="relative inline-block text-left">
      <button
        type="button"
        class="inline-flex items-center"
        (click)="showMenu = !showMenu"
      >
        <span class="material-icons"> account_circle </span>
        <span class="ml-2">Profile</span>
        <span data-testid="menu-arrow" class="material-icons">
          {{ showMenu ? "arrow_drop_up" : "arrow_drop_down" }}
        </span>
      </button>
      <div
        class="origin-top-right absolute right-0 mt-2 w-56 rounded-md shadow-lg bg-white ring-1 ring-black ring-opacity-5"
      >
        <div
          class="py-1"
          role="menu"
          aria-orientation="vertical"
          aria-labelledby="options-menu"
          *ngIf="showMenu"
        >
          <a
            *ngFor="let link of links"
            [routerLink]="link.link"
            class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100"
            role="menuitem"
            >{{ link.title }}</a
          >
        </div>
      </div>
    </div>
  </div>
</header>
